.color-blue
{
    color: #6dc3fc;
}
.color-white
{
    color: white;
}
.color-gray
{
    color: #d2d3d4;
}
.fontfamily-open
{
    font-family: 'Open Sans', sans-serif;
}

.bg-blue
{
   background-color:#6dc3fc;
}
.bg-gray
{
    background-color: #e9edf2;
}

.bg-black
{
    background-color: black;
}
.f-w600
{
    font-weight: 600;
}
.f-s18
{
    font-size: 18px;
}
.f-s42
{
    font-size: 42px;
}
.f-s22
{
    font-size:22px ;
}
.f-s16
{
    font-size: 16px;
}
.txt-grid
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
}
.border1
{
    border-bottom: 1px solid  #d2d3d4;
}
.gen-a
{
    text-decoration: none;
}
.head-pad
{
    padding: 13px;
}
.content-pad
{
    padding: 2rem;
}
.gen-pad
{
    padding: 0.5rem;
}
.link-pad
{
    padding: 9px 22px;
}
.border-radius4
{
    border-radius: 4px;
}
.t-c
{
    text-align: center;
}
.txt2
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    row-gap: 0.5rem;
    padding: 1rem;
}
.card1
{
    width: 280px;
}
.mar-top
{
    margin-top: 3rem;
}
.box-1
{
    box-shadow: 0 0 46px #d2d3d4;
}
.card1-pad
{
    padding-bottom: 3rem;
}
.card2
{
    width: 400px;
}
.row1
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 0;
    justify-content: center;
    margin: 2rem;
}
.border-a
{
    border: 1px solid #d2d3d4;
}
.pag1
{
    border-right: none;
}
.page4
{
    border-left: none;
}
.height
{
    height: 500px;
}
.stan-pad
{
    padding: 3rem;
}
.card1-padn
{
    padding-bottom: 4rem;
}
.card-s
{
    width: 300px;
    position: relative;
    top: -18px;
}
.row2
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    margin: 5rem 0;
   
}
.card-pos
{
    position: relative;
    top: -18px;
}
.card2-s
{
    width: 430px;
}
.row1-l
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 1rem;
    justify-content: center;
    margin: 2rem;
}
.f-s25
{
    font-size: 25px;
}

.sec2-grid
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: left;
    column-gap: 0.5rem;
}
.sec2-gridm
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 6rem;
    
}
.sec3-main
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    
}
.sec3-h
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1rem;
    padding: 1.5rem 2rem;
}
.sec3-i 
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 0.5rem;
}
.sec3-a1
{
    padding: 2rem;
}
.sec3-main a
{
    display: block;
}
.link-pad1
{
    padding: 11px 72px;
}
.border-radiusn
{
    border-radius: 0 4px 4px 0;
}
.border-radiusn1
{
    border-radius: 4px 0 0 4px;
}
.sec3-g
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;
}
.bm
{
    border-bottom: 1px solid #e9edf2;
}